@import '../../assets/variables.scss';

.image-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__dialog {
    &-content {
      display: flex;
      justify-content: center;
    }
  }

  &__dropzone {


    &-photo {
      margin-top: $space-separation;
      text-align: center;

      &--dragging {
        img {
          border: 3px dashed $color-black !important;
          height: 197px !important;
          width: 197px !important;
        }
      }

      i {
        color: $color-red;
        cursor: pointer;
      }

      img {
        border-radius: 50%;
        border: 1px solid $color-light-gray;
        cursor: pointer;
        height: 200px;
        width: 200px;
      }
    }

    input {
      width: 100%;
    }
  }

  &__error {
    background-color: $color-gray-alpha;
    color: $color-black;
    padding: $space-separation-small;
  }
}
