$color-black: #000000;
$color-soft-black: #3a3a3a;
$color-dark-gray: #757575;
$color-gray: #9D9D99;
$color-light-gray: #D8D8D8;
$color-orange: #F1AE11;
$color-red: #FF0000;
$color-shadow-green: #77C351;
$color-soft-blue: #06C4DA;
$color-soft-gray: #F6F6F6;
$color-soft-green: #00D991;
$color-soft-red: #FF5050;
$color-white: #FFFFFF;
$color-active-tab: #B4EDF3;
$color-disabled-button: rgb(14, 9, 9);
$color-disabled-input: rgba(0, 0, 0, 0.38);

$md-primary-color: $color-soft-blue;

$space-separation: 1rem;
$space-separation-negative: -$space-separation;
$space-separation-minuscule: $space-separation / 16;
$space-separation-tiny: $space-separation / 8;
$space-separation-little: $space-separation / 4;
$space-separation-small: $space-separation / 2;
$space-separation-large: $space-separation * 2;
$space-separation-huge: $space-separation * 4;
$space-separation-big: $space-separation * 8;
$space-separation-gigantic: $space-separation * 16;

$md-desktop-min-width: 1351px !default;

$cards-font-size-title: 1.3rem;
$cards-height: 430px;
$cards-content-height: 390px;
$subheader-height: 44px;

$select-field-higher: 165px;

$md-tablet-min-width: 768px !default;
