$color-dark-gray: #757575;
$color-gray: #9D9D99;
$color-light-gray: #D8D8D8;
$color-red: #FF0000;
$color-gray-alpha: #d8d8d87a;
$color-black: #000000;

$space-separation: 1rem;
$space-separation-small: $space-separation / 2;
